/* Styles specific to src/pages/about.astro */

/* Table styles */
.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  background-color: #131313;
  padding: 0.5rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  background-color: transparent;
}

th, td {
  border: 2px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #131313;
  color: #fff;
  width: 14.2857%;
  position: relative;
}

th {
  background-color: #131313;
}

.checkmark::before {
  content: "✓";
  color: #bebebe;
  font-size: 20px;
}

.dash::before {
  content: "—";
  color: #a4a4a4;
  font-size: 20px;
}

.cross::before {
  content: "✗";
  color: #6d6d6d;
  font-size: 20px;
}

.custom-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/assets/branding/Logos/TheSpace_Logos_Symbol_2.webp') no-repeat center center;
  background-size: contain;
}

/* List styles */
.list-custom {
  list-style-type: none;
  padding-left: 0;
}

.list-custom li {
  padding-left: 50px;
  position: relative;
  margin-top: 1rem;
  text-align: left;
}

.list-custom li:nth-child(1)::before {
  content: "";
  background: url('/assets/branding/Logos/TheSpace_Logos_Number_1.webp') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.list-custom li:nth-child(2)::before {
  content: "";
  background: url('/assets/branding/Logos/TheSpace_Logos_Number_2.webp') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.list-custom li:nth-child(3)::before {
  content: "";
  background: url('/assets/branding/Logos/TheSpace_Logos_Number_3.webp') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

/* Grid and textbox styles */
.vision-grid, .process-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.vision-textbox, .process-textbox {
  background-color: #131313;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  color: white;
}

.vision-card, .process-card {
  background-color: #131313;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  color: white;
}

/* Link container styles */
.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.link-button {
  flex: 1;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.link-button:hover {
  background-color: #d8d8d8;
  color: rgb(0, 0, 0);
}

/* Media queries for about.astro */
@media (max-width: 768px) {
  th, td {
    padding: 5px;
    font-size: 12px;
  }

  .checkmark::before, .dash::before, .cross::before {
    font-size: 15px;
  }

  .vision-grid, .process-grid {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 480px) {
  th, td {
    padding: 1px;
    font-size: 10px;
  }

  .checkmark::before, .dash::before, .cross::before {
    font-size: 12px;
  }
}