---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Bitcoin Week at ETH Denver">
  <Container class="w-full">
    <Sectionhead>
      <Fragment slot="title">Bitcoin Week at ETH Denver, 2025</Fragment>
      <Fragment slot="desc">
        Signal in the Noise
      </Fragment>
    </Sectionhead>

    <!-- Contact Us -->
    <div class="flex justify-center mt-12">
      <a data-label="Bitcoin Week at ETH Denver" style="background-color:#e51f5d;color:#ffffff;min-width:128px;padding:8px 16px;border-radius:8px;text-align:center;font-weight:bold;text-decoration:none;display:inline-block;" href="mailto:contact@denver.space" target="_blank" rel="no referrer noopener">Reach Out to Be a Part of Bitcoin Week 2025</a>
    </div>

    <!-- Bitcoin Week Flyer -->
  <div class="flex justify-center mt-10">
    <img 
        src="/assets/events/bitcoinweek2025/BitcoinWeekEthDenver2025.webp" 
        alt="Bitcoin Week Flyer" 
        class="rounded-lg w-full max-w-[800px] md:w-3/4 lg:w-2/3" 
    />
  </div>

    <!-- Overview Section -->
    <div class="mt-16">
      <h2 class="text-3xl font-bold">Overview</h2>
      <ul class="list-disc pl-5 mt-4">
        <p class="text-lg mt-4 text-left md:text-justify text-black px-4 md:px-4 lg:px-10">
          During one of the world’s largest crypto gatherings, ETH Denver, Bitcoin Week at The Space will showcase the incredible potential of Bitcoin as a platform for innovation. 
          While ETH Denver draws global attention, especially from Bitcoin scaling companies working on Layer 2s, Layer 3s, smart contracts, and new technologies like ordinals and runes, 
          The Space will be the ultimate destination for Bitcoiners and Bitcoin-curious attendees.
        </p>
        <p class="text-lg mt-4 text-left md:text-justify text-black px-4 md:px-4 lg:px-10">
          This exciting week-long series of events will include high-signal presentations, panel discussions, debates, networking sessions, social gatherings, cocktail hours, and even the possibility of a hackathon. 
          Our mission is to highlight how Bitcoin serves as the ideal foundation for developers and innovators, demonstrating that everything you can imagine building on other networks can be built better on Bitcoin.
        </p>
        <p class="text-lg mt-4 text-left md:text-justify text-black px-4 md:px-4 lg:px-10">
          We’re actively building out the schedule and want your company to be a part of it! Whether it’s hosting an event, leading a discussion, or showcasing cutting-edge Bitcoin tech, this is your opportunity to tap into a vibrant and talented audience of developers, thinkers, and builders. 
          Our venue is ready to deliver an unforgettable experience tailored to your needs.
        </p>
      </ul>
    </div>

    <!-- Date Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Date and Time</h2>
      <ul class="list-disc pl-5 mt-4">
        <li>Wednesday, February 26 - Saturday, March 1, 2025</li>
        <li>Event week schedule is still being formalized. Stay tuned for more details</li>
      </ul>
    </div>

    <!-- Location Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Location</h2>
      <p class="mt-4">
        The Space - Denver's Bitcoin hub.
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Easily accessible from Denver International Airport via Train (no rental car required).</li>
        <li>Ample accommodations nearby including hotels, restaurants, and bars within walking distance.</li>
        <li>Located in the heart of Denver's RiNo (River North) district. Close to I-70 for easy access to the ski resorts.</li>
        <li>Close proximity to other ETH Denver events and activies.</li>
      </ul>

<!-- Venue Images Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
    <img src="/assets/venue/3700Franklin_Back.webp" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/3700Franklin_Front.webp" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_006.png" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_007.png" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_014.png" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_016.png" alt="Heatpunk Summit Venue" class="venue-image" />
  </div>

    <!-- Schedule Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Schedule</h2>
      <p class="mt-4">
        The detailed event schedule is coming soon. In general, content will cover the following:
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Keynote presentations</li>
        <li>Panel discussions and debates with industry leaders and developers</li>
        <li>Collaborative roundtables, problem solving workshops and industry focus sessions</li>
        <li>Plenty of time for networking and socializing</li>
      </ul>
    </div>

    <!-- Speakers Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Attendees</h2>
      <p class="mt-4">
        We want all the key players Building on Bitcoin in attendance. Here are some of our confirmed attendees.
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Epoch VC</li>
        <li>Bitcoin Layers</li>
      </ul>
    </div>

    <!-- Get Involved Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Want to get involved?</h2>
      <p class="mt-4">
        Are you interested in being a part of the first Bitcoin Week at ETH Denver? Have questions? Reach out below.
      </p>
      <div class="flex justify-center mt-12 mb-12">
        <a data-label="Contact Us" style="background-color:#e51f5d;color:#ffffff;min-width:128px;padding:8px 16px;border-radius:8px;text-align:center;font-weight:bold;text-decoration:none;display:inline-block;" href="mailto:contact@denver.space" target="_blank" rel="no referrer noopener">Contact the Event Coordinator</a>
      </div>
    </div>

  </Container>
</Layout>

<style>
  .grid-container {
    display: grid;
    grid-gap: 16px;
  }

  /* For large screens: 3 columns, 2 rows */
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* For medium screens: 2 columns, 3 rows */
  @media (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* For small screens: 1 column, 6 rows */
  @media (max-width: 767px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .venue-image {
  object-fit: cover; /* Maintain aspect ratio and fill the space */
  border-radius: 10px; /* Optional: keep the rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
  }
</style>