---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Events">
  <Container class="w-full">
    <Sectionhead>
      <Fragment slot="title">Events</Fragment>
      <Fragment slot="desc">
        Discover our upcoming public events. Become a member to see private events.
      </Fragment>
    </Sectionhead>

    <div class="flex justify-center mt-12">
      <a data-label="The Space Soir&#233;e &#38; Launch Week Activities" style="background-color:#e51f5d;color:#ffffff;min-width:128px;padding:8px 16px;border-radius:8px;text-align:center;font-weight:bold;text-decoration:none;display:inline-block;" href="https://pay.zaprite.com/pl_1OHs6TagTx" target="_blank" rel="no referrer noopener">Purchase Tickets to The Space Launch Week</a>
    </div>

    <iframe src="https://nextcloud.denver.space/apps/calendar/embed/ioCC4mJi9dSsAkDC" class="w-full h-screen mt-12 mb-20" style="height: 90vh;" />
  </Container>
</Layout>