---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Heatpunk Summit">
  <Container class="w-full">
    <Sectionhead>
      <Fragment slot="title">Undermine 2025 - The Heatpunk Summit</Fragment>
      <Fragment slot="desc">
        Shaping the Future of Electric Heating and Bitcoin Mining
      </Fragment>
    </Sectionhead>

    <!-- Purchase Tickets -->
    <div class="flex justify-center mt-12">
      <a data-label="Undermine 2025" style="background-color:#e51f5d;color:#ffffff;min-width:128px;padding:8px 16px;border-radius:8px;text-align:center;font-weight:bold;text-decoration:none;display:inline-block;" href="https://pay.zaprite.com/pl_NtmMa68MUE" target="_blank" rel="no referrer noopener">Purchase Tickets to Undermine 2025</a>
    </div>

    <!-- Heatpunk Image -->
    <div class="flex justify-center mt-10">
      <img src="/assets/events/heatpunk_logo_transparent.webp" alt="Heatpunk Summit Placeholder" class="rounded-lg w-full md:w-3/4 lg:w-1/2" />
    </div>

    <!-- Description Section -->
    <div class="mt-16">
      <h2 class="text-3xl font-bold">Overview</h2>
      <ul class="list-disc pl-5 mt-4">
        <p class="text-lg mt-4 text-left md:text-justify text-black px-4 md:px-4 lg:px-10">
          Undermine is a groundbreaking two-day conference dedicated to the rapidly emerging field of hashrate heating, harnessing Bitcoin miners to power electric heating infrastructure. 
          The Hashrate Heatpunks are a group of bitcoiners undermining the status-quo. Mining doesn't have to be centralized in pub-co mega facilities or massive mining pools - and home mining doesn't have to be exclusive to the ideologically motivated. Instead, we can bring mining to all via heating appliances and home devices. 
        </p>
        <p class="text-lg mt-4 text-left md:text-justify text-black px-4 md:px-4 lg:px-10">
          As the Bitcoin mining industry undergoes a transformative phase, the potential to unlock additional utility through heating has become clear.
          This Heatpunk Summit brings together the brightest minds and hands-on builders, tinkerers, plebs, engineers, tradespeople, contractors, and companies to collaborate on advancing this home mining. 
          By leveraging Bitcoin miners for heating, we can decentralize network hashrate, lower utility costs, and accelerate Bitcoin adoption as a neutral monetary asset.
        </p>
        <p class="text-lg mt-4 text-left md:text-justify text-black px-4 md:px-4 lg:px-10">
          Join us in shaping the future of energy and Bitcoin at the forefront of this exciting new industry.
        </p>
      </ul>
    </div>

    <div class="flex justify-center mt-10">
      <img src="/assets/events/undermine_ASIC_banner.webp" alt="Heatpunk Summit Placeholder" class="rounded-lg w-full md:w-3/4 lg:w-1/2" />
    </div>

    <!-- Date Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Date and Time</h2>
      <ul class="list-disc pl-5 mt-4">
        <li>Friday, February 21 - Saturday, February 22, 2025</li>
        <li>Summit activities will start 11 AM MST Friday morning on the 21st. Feel free to arrive anytime after 9 AM for coffee and breakfast.</li>
        <li>We'll conclude a full day of summit activities on Saturday evening at 5 PM MST.</li>
      </ul>
    </div>

    <!-- Location Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Location</h2>
      <p class="mt-4">
        The Space - Denver's Bitcoin hub.
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Easily accessible from Denver International Airport via Train (no rental car required).</li>
        <li>Ample accommodations nearby including hotels, restaurants, and bars within walking distance.</li>
        <li>Located in the heart of Denver's RiNo (River North) district. Close to I-70 for easy access to the ski resorts.</li>
      </ul>

<!-- Venue Images Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
    <img src="/assets/venue/3700Franklin_Back.webp" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/3700Franklin_Front.webp" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_006.png" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_007.png" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_014.png" alt="Heatpunk Summit Venue" class="venue-image" />
    <img src="/assets/venue/VenueEvent_deck_016.png" alt="Heatpunk Summit Venue" class="venue-image" />
  </div>

    <!-- Schedule Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Schedule</h2>
      <p class="mt-4">
        The detailed event schedule is coming soon. In general, content will follow this general outline:
      </p>
      <p class="mt-4">
        Day 1 - Friday, February 21:
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Welcome Remarks and Hashrate Heating Overview</li>
        <li>Heat Reuse Potential - Why do this? Why does it make sense? Economic, Utilitarian and Ideolocial Incentives.</li>
        <li>Target Market - Best Industy? Ideal Scale? What does it mean for bitcoin mining network growth? Who's the best fit?</li>
        <li>Home Mining Challenges - What is holding back hyper decentralization of hashrate in homes and businesses?</li>
      </ul>
      <p class="mt-4">
        Day 2 - Saturday, February 22:
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Delivery Systems - Air vs Immersion vs Hydro heat reuse.</li>
        <li>Controlling Hashrate Heaters - Home mining control and management.</li>
        <li>Workshops - Home Assistant, DATUM, Start9, Hands on with home mining hardware.</li>
        <li>Home Mining Privacy - Stacking sats through your electric utility as an exchange.</li>
        <li>Industrial Miner Duopoly - Are we bound by Bitmain? What does the future of ASIC options mean for home mining and heating devices?</li>
        <li>Firmware and Software - What role do code and software features play in home mining and heating infrastructure?</li>
        <li>Contractor Corner - HVAC, Hydronic Plumbing, Electrical and other expert input. What miners need to know.</li>
        <li>Regulatory and Institutional Barriers - What does it take to change the status quo of bitcoin mining? How does this scale to the average person?</li>
        <li>Closing Remarks and Takeaways - What problems do we need to solve in 2025? Call to Action.</li>
      </ul>
    </div>

    <!-- Attendees Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Who Will be There</h2>
      <p class="mt-4">
        We want all the key players that are making hashrate heating a reality in attendance
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Bitcoin Miners</li>
        <li>ASIC Insiders</li>
        <li>Firmware Developers</li>
        <li>FOSS Developers</li>
        <li>Mining Pools</li>
        <li>Pleb Builders</li>
        <li>Hashrate Heating Founders</li>
        <li>Engineers</li>
        <li>Contractors</li>
        <li>Tradesmen</li>
        <li>Those with Passion</li>
      </ul>
    </div>

    <!-- Speakers Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Attendees</h2>
      <p class="mt-4">
        Here are some of the confirmed attendees (updated regularly)
      </p>
      <ul class="list-disc pl-5 mt-4">
        <li>Firware and Pools: Braiins Team / Ocean (Bitcoin Mechanic) / Luxor Firmware Developers</li>
        <li>Hashrate Heating Designers: Anadro, Softwarm LLC, Exergy LLC, HBIM, Untethered Mining, Constellation Heating, Hashrate House</li>
        <li>Mining Hardware & Accessories: CryoByte, Altair Technologies</li>
        <li>FOSS Developers & Designers: Matt Hill (Start9), Skot9000 (BitAxe), Brett Rowan (PyASIC)</li>
        <li>Energy Experts: Upstream Data, Compass Mining</li>
        <li>HVAC, Plumbing & Electrical: Long HVAC and Controls, Hydronics Engineers, Electricians</li>
        <li>Bitcoin Mining Media / Education: Bitcoin Mining World</li>
      </ul>
    </div>

  <!-- Travel Section -->
  <div class="mt-10">
    <h2 class="text-3xl font-bold">Travel Information</h2>
    <p class="mt-4">
      The Space is located in an easily accessible part of town for those flying in for the summit. Here are some recommendations for your stay:
    </p>
    <ul class="list-disc pl-5 mt-4">
      <li>If you're only coming to town for Undermine, you don't need a rental car. If you are planning a ski trip or other travels around the summit, have at it.</li>
      <li>The Denver RTD (Light Rail Transit) Train travels from the Denver Airport to Union Station every 15 minutes. A day pass ticket costs $10. Get off at the second to last stop, 38th and Blake St.</li>
      <li>The Space has 5 parking spots behind the building. First come, first serve. There is plenty of street parking around the venue.</li>
      <li>There are three hotels within walking distance of The Space: Catbird, Vib, Cambria. There are also a handful of AirBnB's and VRBO's nearby.</li>

    </ul>
  </div>

    <!-- Get Involved Section -->
    <div class="mt-10">
      <h2 class="text-3xl font-bold">Want to be more involved?</h2>
      <p class="mt-4">
        Are you interested in being a part of the first Heatpunk Summit? Have questions? Want to join our hashrate heating telegram group? Reach out below.
      </p>
      <div class="flex justify-center mt-12 mb-12">
        <a data-label="Contact Us" style="background-color:#e51f5d;color:#ffffff;min-width:128px;padding:8px 16px;border-radius:8px;text-align:center;font-weight:bold;text-decoration:none;display:inline-block;" href="mailto:tks@tylerstevens.me" target="_blank" rel="no referrer noopener">Contact the Event Coordinator</a>
      </div>

      <div class="flex justify-center mt-12 mb-12">
        <img src="/assets/events/undermine_joinus.webp" alt="Heatpunk Summit Placeholder" class="rounded-lg w-full md:w-3/4 lg:w-1/2" />
      </div>

      <h2 class="text-3xl font-bold">TIMECHAIN™ Conference Series</h2>
      <p class="mt-4 mb-12">
        Conferences that are focused exclusively on the Bitcoin Network & Protocol.
      </p>
    </div>

  </Container>
</Layout>

<style>
  .grid-container {
    display: grid;
    grid-gap: 16px;
  }

  /* For large screens: 3 columns, 2 rows */
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* For medium screens: 2 columns, 3 rows */
  @media (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* For small screens: 1 column, 6 rows */
  @media (max-width: 767px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .venue-image {
  object-fit: cover; /* Maintain aspect ratio and fill the space */
  border-radius: 10px; /* Optional: keep the rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
  }
</style>