---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Social",
    price: {
      monthly: "$150/mo",
      annual: "$1800",
      discount: "0%",
      original: "$150",
    },
    popular: true,
    features: [
    "Building Access: Weekdays after 4 PM + All Weekend",
    "5 Drop-In Co-Working Days / Month",
    "Bring a Guest: 5 Times / Month",
    "Access to Workspace + Creative Tools",
    "Private Member-Only Events",
    "Free & Discounted Access to Ticketed Events",
    "Sovereign Tools: NOSTR, DATUM, Cloud Storage, Liquidity & More",
    "Community Collaboration Opportunities",
    "Be Part of Denver’s First Member-Run Bitcoin Citadel",
    ],
    button: {
      text: "Apply for Membership",
      link: "/membership-application",
    },
  },
  {
    name: "Co-Working",
    price: {
      monthly: "$300/mo",
      annual: "$3600",
      discount: "0%",
      original: "$300",
    },
    popular: true,
    features: [
    "Building Access: 24/7",
    "Unlimited Co-Working",
    "Unlimited Guest Passes",
    "Access to Workspace + Creative Tools",
    "Private Member-Only Events",
    "Free & Discounted Access to Ticketed Events",
    "Sovereign Tools: NOSTR, DATUM, Cloud Storage, Liquidity & More",
    "Community Collaboration Opportunities",
    "Be Part of Denver’s First Member-Run Bitcoin Citadel",
    "Conference Room Booking",
    "Quiet Daytime Call Space",
    "Extensive Desk & Work Space",
    "Daily Interaction with the Brightest Minds in Bitcoin",
    ],
    button: {
      text: "Apply for Membership",
      link: "/membership-application",
    },
  },
  {
    name: "Private Office",
    price: {
      monthly: "$600/desk",
      annual: "$7200",
      discount: "0%",
      original: "$600",
    },
    popular: true,
    features: [
    "Dedicated Private Office Space",
    "Building Access: 24/7",
    "Unlimited Co-Working",
    "Unlimited Guest Passes",
    "Access to Workspace + Creative Tools",
    "Private Member-Only Events",
    "Free & Discounted Access to Ticketed Events",
    "Sovereign Tools: NOSTR, DATUM, Cloud Storage, Liquidity & More",
    "Community Collaboration Opportunities",
    "Be Part of Denver’s First Member-Run Bitcoin Citadel",
    "Conference Room Booking",
    "Standing Desk, Locking Cabinets, Lockable Door",
    "Quiet Daytime Call Space",
    "Extensive Desk & Work Space",
    "Daily Interaction with the Brightest Minds in Bitcoin",
    ],
    button: {
      text: "Apply for Membership",
      link: "/membership-application",
    },
  },
  {
    name: "Public",
    price: {
      monthly: "Free",
      annual: "$0",
      discount: "0%",
      original: "$0",
    },
    popular: false,
    features: [
      "Free & Ticketed Events",
      "Public Content & Education",
      "Public Workshops & Presentations",
      "Open Source Documentation",
      "Public Newsletter",
      "& More...",
    ],
    button: {
      text: "See What's Going On",
      link: "/events",
    },
  },
  {
    name: "Monthly Supporter",
    price: "Any Amount",
    popular: false,
    features: [
      "Space Swag",
      "Public Benefits",
      "Public Newsletter",
      "Supporter Satisfaction",
      "Ticketed Event Discounts",
    ],
    button: {
      text: "Contact Us",
      link: "mailto:billing@denver.space",
    },
  },
  {
    name: "Day Pass",
    price: {
      monthly: "$25/day",
      annual: "$0",
      discount: "0%",
      original: "$0",
    },
    popular: false,
    features: [
      "Full Day of Building Access",
      "Workspace & Creator Amenities",
      "Networking & Socialization",
    ],
    button: {
      text: "Get Them Here",
      link: "https://pay.zaprite.com/pl_uQ30NqptEQ",
    },
  },
];
---

<Layout title="Pricing">
  <!-- Upper Section with White Background -->
  <div class="bg-white ">
    <Container>
      <Sectionhead>
        <Fragment slot="title">Membership</Fragment>
        <Fragment slot="desc"> Simple Pricing. No Surprises. <br/>
        </Fragment>
      </Sectionhead>
      <div class="grid md:grid-cols-3 gap-6 mx-auto max-w-8xl mt-12 mb-12 items-stretch h-full">
        <PricingCard plan={pricing[0]} /> <!-- Social -->
        <PricingCard plan={pricing[1]} /> <!-- Co-Working -->
        <PricingCard plan={pricing[2]} /> <!-- Private Office -->
      </div>
    </Container>
  </div>

  <!-- Lower Section with Custom Background -->
  <div class="bg-black py-12">
    <Container>
      <div class="grid md:grid-cols-3 gap-6 mx-auto max-w-8xl mt-12">
        {pricing.slice(3).map((item) => (
          <PricingCard plan={item} />
        ))}
      </div>
    </Container>
  </div>
</Layout>
