---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Social Membership",
    price: {
      monthly: "$150/mo",
      annual: "$1800",
      discount: "0%",
      original: "$150",
    },
    popular: true,
    features: [
      "Access to the building: Weekdays after 4 PM and all weekend",
      "Co-working: 5 drop-in days per month",
      "Bring a guest: 5 times a month",
      "Use our workspace and creative tools",
      "Member events: Free or discounted access",
      "Private member channels, NOSTR verification, and more",
      "Bitcoin & sovereign tech solutions: Cloud storage, liquidity, and more",
      "Engage in community-driven opportunities",
      "Be part of the first-ever member-run Bitcoin Citadel",
    ],
    button: {
      text: "Apply for Membership",
      link: "https://tally.so/r/w2k9oD",
    },
  },
  {
    name: "Co-Working Membership",
    price: {
      monthly: "$300/mo",
      annual: "$3600",
      discount: "0%",
      original: "$300",
    },
    popular: true,
    features: [
      "24/7 building access",
      "Unlimited co-working: Drop in anytime",
      "Unlimited guest passes",
      "Conference Room Booking",
      "Quiet Daytime Call Space",
      "Extensive Desk & Lounge Space",
      "Daily Interaction with the Brightest Minds in Bitcoin",
      "+ Social Membership Benefits & More...",
    ],
    button: {
      text: "Apply for Membership",
      link: "https://tally.so/r/w2k9oD",
    },
  },

  {
    name: "Public",
    price: {
      monthly: "Free",
      annual: "$0",
      discount: "0%",
      original: "$0",
    },
    popular: false,
    features: [
      "Free & Ticketed Events",
      "Public Content & Education",
      "Public Workshops & Presentations",
      "Open Source Documentation",
      "Public Newsletter",
      "& More...",
    ],
    button: {
      text: "See What's Going On",
      link: "/events",
    },
  },
  {
    name: "Day Pass",
    price: {
      monthly: "TBD",
      annual: "$0",
      discount: "0%",
      original: "$0",
    },
    popular: false,
    features: [
      "Full Day of Building Access",
      "Workspace & Creator Amenities",
      "Networking & Socialization",
      "Support a Grassroots Community",
      "+ Free Benefits & More...",
    ],
    button: {
      text: "Express your Interest",
      link: "/contact",
    },
  },
  {
    name: "Add-Ons",
    price: "Custom",
    popular: false,
    features: [
      "Reserved Desk or Private Office Space",
      "Private Event Hosting",
      "Sponsorship Opportunities",
      "Consignment Merchandising",
      "One-on-One Education",
      "+ Member Benefits & More...",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <!-- Upper Section with White Background -->
  <div class="bg-white ">
    <Container>
      <Sectionhead>
        <Fragment slot="title">Membership</Fragment>
        <Fragment slot="desc"> Simple Pricing. No Surprises. <br/>
        </Fragment>
      </Sectionhead>
      <div class="grid md:grid-cols-2 gap-6 mx-auto max-w-4xl mt-12 mb-12 items-stretch h-full">
        <PricingCard plan={pricing[0]} />
        <PricingCard plan={pricing[1]} />
      </div>
    </Container>
  </div>

  <!-- Lower Section with Custom Background -->
  <div class="bg-black py-12">
    <Container>
      <div class="grid md:grid-cols-3 gap-6 mx-auto max-w-6xl mt-12">
        {pricing.slice(2).map((item) => (
          <PricingCard plan={item} />
        ))}
      </div>
    </Container>
  </div>
</Layout>
