---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const values = [
  { title: "Event Space", description: "Our presentation room and common area connect, perfect for larger events.", icon: "bx:building" },
  { title: "Co-Working Desks", description: "Large fold-up desks on wheels and office chairs make it easy to work wherever.", icon: "bx:bxs-group" },
  { title: "Conference Room", description: "A bookable conference room is ready for calls, meetings, and private presentations.", icon: "bx:table" },
  { title: "Lounge Space", description: "Half of our venue is set up for lounging and socialization, with premium furniture and decor. Sound-money vibe.", icon: "bx:chair" },
  { title: "Podcast Room", description: "A private podcast room allows us to record content without disturbing others.", icon: "bx:bxs-microphone" },
  { title: "Backyard", description: "A fenced backyard and hangout space connects to two separate parts of the building. Great for BBQs.", icon: "bx:bxs-tree" },
  { title: "Snacks and Drinks", description: "We keep stock of some popular workplace snacks and drinks.", icon: "bx:bxs-drink" },
  { title: "2 Kitchens, 3 Bathrooms", description: "Two full kitchens and three bathrooms keep things from feeling overwhelmed.", icon: "bx:dish" },
  { title: "Off-Street Parking", description: "Our venue has five parking spots behind the building. First come, first serve.", icon: "bx:bxs-car" },
];
---

<style>
  body, html {
    overflow-x: hidden;
  }

  .custom-gradient {
    background: linear-gradient(130deg, #E51F5D, #F68830, #F5D54C, #F68830);
  }

  .icon-circle {
    background: black;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-circle .icon {
    color: white;
  }

  @media (max-width: 768px) {
    .vision-grid {
      grid-template-columns: 1fr !important;
    }
  }
</style>

<Layout title="Venue">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Bitcoin Hub</Fragment>
      <Fragment slot="desc">
        <p class="text-lg mt-4 text-slate-600 px-0 md:px-4 lg:px-10">
          3704 N Franklin St. Denver, CO <br/>
        </p>
        <p class="text-lg mt-4 text-justify text-slate-600 px-0 md:px-4 lg:px-10">
          The Space is located in the Rino neighborhood of Denver, Colorado. Our building is only a few blocks walk from the 38th & Blake train stop, connecting Union Station to the Denver Airport.
        </p>
      </Fragment>
    </Sectionhead>

    <!-- Venue Images -->
    <section class="flex flex-col mt-20 mb-20 items-center lg:space-y-7">
      <img src="/assets/venue/3700Franklin_Back.webp" alt="The Space Building Back" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
    </section>
    <section class="flex flex-col mt-20 mb-20 items-center lg:space-y-7">
      <img src="/assets/venue/3700Franklin_Front.webp" alt="The Space Building Front" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
    </section>

    <!-- Amenities -->
    <div class="px-0">
      <section class="mt-28 mb-28">
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-28">Building Amenities</h2>
        <p class="text-lg mt-4 text-slate-600">We've Got it All:</p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 mb-6 gap-16">
          {values.map((item) => (
            <div class="flex gap-4 items-start">
              <div class="icon-circle">
                <Icon class="icon" name={item.icon} />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          ))}
        </div>
      </section>
    </div>

    <!-- More Venue Images -->
    <section class="flex flex-col mt-20 mb-20 items-center lg:space-y-7">
      <img src="/assets/venue/3700_event.webp" alt="The Space Lounge" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
    </section>
    <section class="flex flex-col mt-20 mb-20 items-center lg:space-y-7">
      <img src="/assets/venue/Sponsor_wall.webp" alt="The Space Founding Members and Sponsors" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
    </section>
    <section class="flex flex-col mt-20 mb-20 items-center lg:space-y-7">
      <img src="/assets/venue/backyard_event.webp" alt="The Space Backyard Event" class="w-full lg:w-11/12 rounded-lg" style="box-shadow: none;" />
    </section>
  </Container>
</Layout>